{% load i18n static %}<!DOCTYPE html>
<html>
  <head><title>{% translate 'Popup closing…' %}</title></head>
  <body>
    {# Same id and data attribute as Django's template: Unfold's native modal looks for this element. #}
    <script id="django-admin-popup-response-constants"
            src="{% static "unfold_modal/js/popup_response.js" %}"
            data-popup-response="{{ popup_response_data }}"
            data-admin-script="{% static "admin/js/popup_response.js" %}">
    </script>
  </body>
</html>
